<?xml version="1.0" ?>
<configuration>
  <system.webServer>
     <!--<rewrite>
      <rules>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^asms.us$" />
          </conditions>
          <action type="Redirect" url="http://www.asms.us/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
        <add value="index.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="home.aspx" />
        <add value="home.asp" />
        <add value="home.htm" />
        <add value="home.html" />
        <add value="default.aspx" />
        <add value="default.asp" />
        <add value="default.htm" />
        <add value="default.html" />
      </files>
    </defaultDocument>
    
  </system.webServer>
</configuration>