/*-------------------------------------------------*/
/* =  General
/*-------------------------------------------------*/
.oh {overflow: hidden;}

.mb10 {margin-bottom: 10px !important; }
.mb15 {margin-bottom: 15px !important; }
.mb20 {margin-bottom: 20px !important; }
.mb25 {margin-bottom: 25px !important; }
.em2 {margin-bottom: 2em !important;}
.ml0 {margin-left: 0 !important; }

/* Inline Lists */
.inline-list {
  margin: 0 0 1.0625em -1.375em;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375em;
    display: block; }
    .inline-list > li > * {
      display: block; }

a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
}


body {
  background: url(../images/body-bg.png) repeat;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

@-moz-document url-prefix() {
    body {
        margin-top: -20px;
    }
}

.clear {
  clear: both;
}

.wrapper {
  background: #fff;
  width: 1025px;
  margin: 0 auto;
  padding: 0 20px;
}

/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/

  header{
  background: #fff;
  width: 1025px;
  margin: 0 auto;
  padding: 0 20px;
  }
  
  .upper-header {
  width: 1025px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 25px;
  background: #fff;
  }

  .first-c {
    float: left;
    margin-top: -20px;
    margin-bottom: 0;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  .logo {
    text-align: center;
  }

  .c-date {
    float: right;
    margin-top: -20px;
    margin-bottom: 0;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    color: #000;
  }


/*-------------------------------------------------*/
/* =  Navigation
/*-------------------------------------------------*/

.navbar {
  position: relative;
}

.navbar-inner {
  max-width: 1025px;
  margin: auto;
  min-height: 40px;
  padding: 0;
  background: url(../images/nav-bg.png) no-repeat;
}

.navbar .container {
width: auto;
padding: 0;
margin-top: 0;
}

.navbar .nav > li > a {
  float: none;
  padding: 0px 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Philosopher';
  font-weight: normal;
  text-shadow:  none !important;
}


.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #737772;
  text-decoration: none;
  background-color: transparent;
}


  .nav-collapse .dropdown-menu a {
    padding: 4px 15px;
    color: #000;
    font-weight: bold;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }


.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.caret:hover {
  border-top-color: #d1cfcf;
  border-bottom-color: #d1cfcf;
}

.dropdown-menu {
  margin: 0 !important;
}
.dropdown-menu li{
  padding: 0 !important;
}

.nav li {
  padding: 23px 0px;
}

.nav li ul li:hover {
  background: #9e7e62;
  padding-bottom: 0px !important;
  border-bottom: none;
}

.navbar {
  margin-bottom: 0 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #737772;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #f77723;
}

.dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }


ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

/*-------------------------------------------------*/
/* =  Content
/*-------------------------------------------------*/

/*-- Slider --*/

.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
  outline:none;
}
.slides,.flex-control-nav,.flex-direction-nav {
  margin:0;
  padding:0;
  list-style:none;
}

.flex-control-nav {
  display: none;
}

.flexslider .slides>li {
  display:none;
  -webkit-backface-visibility:hidden;
}


.flexslider .slides img {
  width:100%;
  display:block;
}
.flex-pauseplay span {
  text-transform:capitalize;
}
.slides:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.no-js .slides>li:first-child {
  display:block;
}
.flexslider {
  margin:0;
  position:relative;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
  overflow:hidden;
    width: 635px;
  float: left;
}
.flex-viewport {
  max-height:2000px;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  transition:all 1s ease;
}
.loading .flex-viewport {
  max-height:300px;
}
.flexslider .slides {
  zoom:1;
}
.carousel li {
  margin-right:5px
}
.flex-direction-nav {
  *height:0;}

.flex-direction-nav a {
  width:60px;
  height:60px;
  display:block;
  background:url(../images/bg_direction_nav.png) no-repeat 0 0;
  position:absolute;
  right:0;
  bottom:0px;
  margin-top:-19px;
  z-index:10;
  cursor:pointer;
  text-indent:-9999px;
  opacity:0;
  -webkit-transition:all .3s ease;}
  
.flex-direction-nav .flex-next {
  background-position:100% 0;}
  
.flex-direction-nav .flex-prev {}

.flexslider:hover .flex-next {
  opacity:0.8;
  right: 0px;
  bottom: 41%;}
  
.flexslider:hover .flex-prev {
  opacity:0.8;
  left: 0px;
  bottom: 41%;}
  
.flexslider:hover .flex-next:hover {
  opacity:1;}
  
.flexslider:hover .flex-prev:hover {
  opacity:1;}
  
.flex-direction-nav .flex-disabled {
  opacity:.3!important;
  filter:alpha(opacity=30);
  cursor: default;}
/* Control Nav */

.flex-control-thumbs {
  margin:5px 0 0;
  position:static;
  overflow:hidden;}

.flex-control-thumbs li {
  width:25%;
  float:left;
  margin:0;}

.flex-control-thumbs img {
  width:100%;
  display:block;
  opacity:.7;
  cursor:pointer;}

.flex-control-thumbs img:hover {
  opacity:1;}

.flex-control-thumbs .flex-active {
  opacity:1;
  cursor:default;}

.flex-control-thumbs {
  margin:5px 0 0;
  position:static;
  overflow:hidden;}

.flex-control-thumbs li {
  width:25%;
  float:left;
  margin:0;}

.flex-control-thumbs img {
  width:100%;
  display:block;
  opacity:.7;
  cursor:pointer;}

.flex-control-thumbs img:hover {
  opacity:1;}

.flex-control-thumbs .flex-active {
  opacity:1;
  cursor:default;}

.flex-caption {
  padding:0;
  position:absolute;
  left:0;
  bottom:27px;
  padding:20px;
  font-size:12px;
  max-width:577px;
  background:#fff;
  opacity:0.8;
  color:#222;
  font-family:Arial;}
  
.flex-caption span {
  font-size:22px;
  display:block;
  color:#082e54;
  font-weight:bold;
  text-transform:uppercase;
  padding-bottom:10px;}
  
.slide p {
  font-weight: normal;}

.main-content {
  padding-top: 20px;}
  
.main-content h4 {
  font-family: 'Philosopher';
  font-size: 25px;
  font-weight: normal;
  color: #000;}

/* Prayer Timetable */

.prayer {
  float: left;
  width: 365px;
  margin-left: 20px;}

.prayer h4{
  font-family: 'Philosopher';
  font-size: 18px;
  font-weight: normal; 
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(to bottom, #a88369 0%, #7c573d 100%);}

#table {
  font-family:Arial,Helvetica,sans-serif;
  color:#666;
  font-size:14px;
  background:#eaebec;
  height:100%;
  border:none;
  width:100%;}
  
#table th {
  padding:20px;
  background:#3b3b3b;
  font-family:Arial;
  color:#fff;
  font-size:14px;
  border-right:1px solid #000;
  font-weight:bold;
  text-transform: uppercase;}
  
#table th:first-child {
  text-align:left;}
  
#table tr {
  text-align:center;
  padding-left:20px;}
  
#table tr td:first-child {
  text-align:left;
  padding-left:20px;
  border-left:0;
  font-size:13px;
  font-family:Arial;
  color:#000000;
  line-height:38px;
  font-weight:bold;
  text-transform: uppercase;}
  
#table tr td {
  padding:1px;
  border: 1px solid #cbcbcb;
  background:#e8e8e8;
  color:#000;}
  
#table tr.even td {
  background:#f6f6f6;
}
#table tr:last-child td {
  border-bottom:0;
}
#table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
#table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
#table tr:hover td {
  background:#f2f2f2;
  background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#f0f0f0));
  background: -moz-linear-gradient(top,#f2f2f2,#f0f0f0);
}

.prayer a {
  width: 100%;
  height: 58px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 57px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  text-transform: uppercase;
  background-color: #7f766f;
}

.prayer a:hover {
  background: #5c5550;  
}


/* Donate */

.donate-box {
  background: url(../images/donate.png) no-repeat ;
  float: left;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.donate-box h4 {
  padding: 27px 20px;
  color: #fff;
  float: left;
  padding-right: 60px;
}

.dnt-div {
padding-top: 25px;
padding-left: 290px;
font-family: Arial;
font-size: 15px;
color: #000;
font-weight: bold;
}


.dnt-div p{
  font-size: 15px;
  font-family: Arial;
  color: #424242;
}

.dnt-form {
  color: #4b680b;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dnt-div input[type="text"] {
  width: 105px;
  padding: 10px;
  font-size: 14px;
  color: #888;
  margin-right: 15px;
}

.dnt-div select {
  width: 225px;
  padding: 10px;
  font-size: 14px;
  color: #888;
  height: 42px;
  padding: 10px 5px;
}

.dnt-div input[type="submit"]{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	font-weight: bold;
	padding: 15px 20px;
	background-color: #4b680b;
	color: #fff;
	width: 140px;
	display: block;
	margin-top: -5px;
	margin-right: 20px;
	text-transform: uppercase;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #7b573c;
	background-image: linear-gradient(#ab866b 0%, #7b573c 100%);}

.dnt-div input[type="submit"]:hover {
   background-image: linear-gradient(#a79181 0%, #847365 100%);}

.main-content .welcome-note {
	margin-top: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
	background: #fff;
	padding-bottom: 20px;}

.welcome-note p{
	color: #696969;
	font-size: 1gpx;
	font-family: Arial;
	margin-bottom: 15px;
	margin-top: 15px;}

.welcome-note a{
	font-weight: bold;
	padding: 5px 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #7b573c;
	color: #fff;
	width: 86px;
	display: block;
	margin-top: 5px;
	background-image: linear-gradient(#417630 100%, #737772 0%);}

.welcome-note a:hover{
	background-image: linear-gradient(#737772 100%, #417630 0%);}

.row3{
	background: #fff;
	float: left;
	width: 1025px;
	padding: 20px;
	margin-left: -20px;
	margin-top: -11px;}

.latest-news {
	float: left;
	width: 670px;}

.latest-news ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;}

.latest-news img {
  width: 90px;
  height: 83px;
  float: left;
  margin-right: 17px;
  border: 10px solid #efefef;
}

.latest-news li {
  float: left;
  width: 325px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.latest-news h4 {
  margin-bottom: 20px;
}

.latest-news h3 {
  font-size: 16px;
  font-family: 'Philosopher';
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

.latest-news h3 a{
  color: #000;
}

.latest-news p {
  color: #989898;
  font-size: 13px;
  line-height: 19px;
}

.featured-video {
  width: 320px;
  float: left;
  margin-left: 20px;
}

.featured-video h4{
  margin-bottom: 20px;
}

.featured-video iframe {
  width: 100%;
}

/* About */
.about-text img {
  float: left;
  margin-right: 20px;
  width: 200px;
}

.about-text p{
  color: #333;
}

.about-widget {
  margin-bottom: 30px;
}
.about-widget ul{
  list-style: none;
  padding: 0;
  margin:0;
}

.about-widget li {
  background-color: #d7d7d7;
  border-bottom: 1px solid #e9e9e9;
  padding: 7px 10px;
}

.about-widget li:hover {
  background-color: #aeabab;
}

.about-widget a{
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  display: block;
}
.news-widget {
  margin-bottom: 30px;
}

.news-widget h3{
  color: #333;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
  line-height: 21px;
}

.news-widget a {
  color: #333;
}

.news-widget img {
  width: 52px;
  height: 52px;
  float: left;
  margin-right: 10px;
}

a.view-news {
	width: 100%;
	height: 58px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 57px;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
	background-color: #7ca22c;
	background-image: linear-gradient(#99be49 0%, #789e28 100%) ;
}

a.view-news:hover {
     background-image: linear-gradient(#8ab924 0%, #658916 100%) ;
}

  .facebook {
  width: 370px;
  }
  .facebook iframe{
  width: 100% !important;
  } 


footer {
  clear: both;
}

.inner-footer {
  width: 1025px;
  margin: auto;
  padding: 20px;
  background: url(../images/footer-bg.png) repeat;
  padding-bottom: 40px;
}

.inner-footer h4{
  font-size: 20px;
  color: #d2b298;
  font-family: 'Philosopher';
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.contact {
  width: 320px;
  float: left;
}

.services, .link {
  width: 320px;
  float: left;
  margin-left: 30px;
}

.contact p {
  font-family: Arial;
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 5px;
}

.services ul, .link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services a, .link a {
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  font-family: Arial;
}

.services a:hover, .link a:hover {
  color: #d1cfcf;
}


.end-footer {
  width: 1025px;
  margin: auto;
  padding: 20px;
  background: #fff;
}

.copyright {
  float: left;
  color: #000;
  font-size: 13px;
  margin-top: 10px;
  font-family: Arial;
  margin-bottom: 0;
}

.payments {
  float: right;
}

.payments img {
  margin-right: 10px;
}
.payments img:hover {
  opacity: 0.8;
}

.newsrow{
	width:100%;
	height:60px;}

.float_left{float:left;}
.float_right{float:right;}
.row0{float:left;width:100%;}

.content0 {
    padding:20px;
    float:left;}
    
.content0 a {
    color:#3b3b3b;}

.active {
    color:#3b3b3b;}

.row5{
	border-bottom:1px dotted #bdbdb2;
	padding:10px 0;
	margin-bottom:15px;
	line-height:normal;
	float:left;
	width:100%;}
	
.row5 a{
	text-decoration:none;}

.row5 h2{
	margin:0;
	padding:0 0 5px 0;
	font:normal 16px Trebuchet MS;}

.news_title {
	font-size:20px;
	color:#3b3b3b;
	padding-bottom:4px;
	float:left;
	width:100%;}

.news_title a {
	color:#3b3b3b;}

.course_date{
	float:left;
	text-align:left;
	font-weight:bold;
	font-size:12px;
    width:50%;}
    
.course_date0{
	float:left;
    width:95%;
    background-color:#cacaca;
    padding:2%;
	border:1px solid #bbbbbb;}	
	
.class_date{
	color:#36401f;
	text-align:left;
	padding-top:10px;
	font-weight:normal;}
	
.morenew{
	padding:10px 0;
	float:right;
	font-weight:bold;
	font-size:12px;}

a.ev_cls{
	float:left;
	margin:0 10px 5px 0;
	border:0px solid #fff;}	

.br5{
	margin-bottom:40px;
    float:left;}

.pgr_bdr a{
	border:1px solid #3b3b3b;
	color:#3b3b3b;
	text-decoration:none;
	padding:2px 5px;	
	font:bold 11px Calibri;}

.pgr_bdr a:hover{
	border:1px solid #3b3b3b;
	background-color:#3b3b3b;
	color:#ffffff;
	text-decoration:none;
	padding:2px 5px;	
	font:normal 11px Calibri;}	
	
.pager_active{
	border:1px solid #3b3b3b;
	background-color:#3b3b3b;
	color:#ffffff;
	text-decoration:none;
	padding:2px 5px;	
	font:normal 11px Calibri;}

.pgr_bdr2 a{
	border:1px solid #3b3b3b;
	color:#3b3b3b;
	text-decoration:none;
	padding:2px 5px;	
	font:bold 11px Calibri;}

.pgr_bdr2 a:hover{
	border:1px solid #3b3b3b;
	background-color:#3b3b3b;
	color:#ffffff;
	text-decoration:none;
	padding:2px 5px;	
	font:normal 11px Calibri;}

.pgr_bdr2 span{
	border:1px solid #3b3b3b;
	background-color:#3b3b3b;
	color:#ffffff;
	text-decoration:none;
	padding:2px 5px;	
	font:normal 11px Calibri;}	

.br4{
	border-bottom:1px dotted #d1d1d1;
	padding:10px 0;}
	
.br125{
	margin:0 0 10px 0;}
	
.br4 img{
	width:42px;}		

.capcha_form{
	border:1px solid #666666;
	font:normal 26px Arial;
	color:#666666;
	padding:2px 5px;
	margin-left:10px;}
	
.form_box{
	float:left;
	width:260px;
	padding:16px 0 15px 0;
	text-align:left;}
	
.form_box2{
	float:left;
	width:260px;
	padding:16px 0 15px 25px;
	text-align:left;}
	
.form_input{
	float:left;
	width:260px;
	padding:3px 0 13px 0;}
	
.form_input2{
	float:left;
	width:260px;
	padding:3px 0 25px 0;}

.form_box2 input[type="submit"]{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	font-weight: bold;
	padding: 15px 20px;
	background-color: #4b680b;
	color: #fff;
	width: 140px;
	display: block;
	margin-top: -5px;
	margin-right: 20px;
	text-transform: uppercase;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #7b573c;
	background-image: linear-gradient(#ab866b 0%, #7b573c 100%);}

.form_box2 input[type="submit"]:hover  {
   background-image: linear-gradient(#a79181 0%, #847365 100%);}

.name_input{
	width: 220px;
	padding: 10px;
	font-size: 14px;
	color: #888;}
  
.name_input2{
	width: 250px;
	padding: 10px;
	font-size: 14px;
	color: #888;}

.tb_header{
	background-color:#7b604d;
	font-weight:bold;
	color:#fff;
	width:170px;}
	
.tb_header2{
	background-color:#7b604d;
	font-weight:bold;
	text-align:center;
	color:#fff;}
	
.tb_header3{
	background-color:#cfcece;
	font-weight:bold;
	color:#1a1a1a;
	width:150px;}
	
.tb_header4{
	background-color:#cfcece;
	font-weight:bold;
	text-align:center;
	color:#1a1a1a;}	
	
.tb{
	background-color:#feedb7;
	border:1px solid #7b604d;
	color:#7f542a;}	
	
.tb2{
	background-color:#e0dfdf;
	border:1px solid #cfcece;}
	
.tb_td{
	font-weight:bold;
	text-align:center;
	border-bottom:1px dotted #e2c771;}

.tb_td2{
	width:220px;
	border-bottom:1px dotted #e2c771;}

.more_bg{
	width:86px;
	height:21px;
	float:left;
	background:#3b3b3b url(../images/more_bg.gif) no-repeat;
	padding:3px 0 0 30px;
	margin-right:20px;}
	
a.more_bg{
    color:#ffffff;}
    
.comment_bg{
	width:84px;
	height:19px;
	float:left;
	background:#3b3b3b url(../images/comment_bg.gif) no-repeat;
	padding:3px 0 0 30px;
	margin-right:20px;}

.date_bg{
	width:86px;
	height:21px;
	float:left;
	background:#3b3b3b url(../images/date_bg.gif) no-repeat;
	padding:3px 0 0 30px;
	margin-right:20px;
    color:#ffffff;}	

.date{
	font:11px;
	font-weight:bold;
	font-style:italic;
	color:#666666;}

.evt_bx{
	float:left;
	width:115px;
	padding:10px 5px 0 5px;
	height:160px;
	background:#fffcf1 url(../images/ev_bg.gif) top no-repeat;
	font-size:11px;
	border:1px solid #d1d1d1;
	margin:0 15px 40px 0px;}

.evt_bx img{
	float:left;
	padding:0 0 0 5px;
	width:107px;}
	
.ev_title{
	float:left;
	width:100%;
	text-align:center;
	padding-top:5px;
	line-height:16px;}
	
.ev_date{
	float:left;
	width:100%;
	text-align:center;
	padding-top:5px;
	font:bold 11px Verdana;}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:11px;
	height:70px;
	width:160px;
	padding:20px 25px 25px 25px;
	color:#fff;
	line-height:16px;}
	
.calendar{
	float:left;
	width:610px;
	margin-top:20px;}
	
.OtherMonthDayStyle{
    background-color:#b8b8b8;
    border:1px solid #faf8f2;
    color:#a2a2a2;
    height:50px;}
    
.DayStyle{
    border:1px solid #faf8f2;
    font:normal 14px Trebuchet MS;
    color:#000000;
    text-transform:uppercase;
    background-color:#eeeeee;
    height:50px;}  
    
.OtherMonthDayStyle2{
    background-color:#b8b8b8;
    border:1px solid #faf8f2;
    color:#a2a2a2;
    height:30px;}
    
.DayStyle2{
    border:1px solid #faf8f2;
    font:normal 14px Trebuchet MS;
    color:#000000;
    text-transform:uppercase;
    background-color:#eeeeee;
    height:30px;}
    
.PT_np{
   	text-transform:uppercase;
   	color:#46760c;
   	text-align:center;}
   	
.cal_date{
	font:normal 18px Trebuchet MS;
	color:#ffe697;
	background-color:#4b4b4b;
	height:40px;}
	
.PT_br{
    border:1px solid #faf8f2;
    font:normal 12px Trebuchet MS;
    color:#ffc600;
    text-transform:uppercase;
    background-color:#3b3b3b;
    height:30px;}
/* tooltip styling. by default the element to be styled is .tooltip  */

.br6{
	float:left;
	margin:0 15px 10px 0;}

.mv_desc{
	float:left;
	padding:5px 0;}
	
.video_thumb{
	float:left;
	width:280px;
	padding:0 20px 30px 0;
	line-height:normal;
	text-align:left;
    font-size:13px;}
    
.video_thumb2{
	float:left;
	width:280px;
	padding:0 0 40px 0;
	line-height:normal;
	text-align:left;
    font-size:13px;}
	
.video_thumb h3, .video_thumb2 h3{
	font:bold 13px verdana;
	line-height:normal;
	color:#000000;
	margin:0;
	padding:0;
	height:30px;}	
	
.show{
	float:right;
	width:235px;}
	
.ytb_row{
	width: 100%;float:left;padding-top:15px;}	

.gal_thumb{
	float:left;
	width:131px;
	padding:13px 10px 0 14px;
	height:140px;
	background:#e8e8e8;
	font-size:11px;
	border:1px solid #d2d2d2;
	margin:0 30px 40px 0px;
	text-align:center;}
	
.gal_thumb img{
	float:left;
	margin-bottom:10px;
	width:125px;}

.gal_thumb h3{
	font:normal 11px verdana;
	line-height:15px;
	color:#000;}

.form1{
	border:1px solid #a69898;
	padding:6px;
	color:#666666;
    background-color:#f6f5f5;}

.form2 {
	-webkit-box-shadow:inset 1px 2px 4px rgba(0,0,0,.15);
	-moz-box-shadow:inset 1px 2px 4px rgba(0,0,0,.15);
	box-shadow:inset 1px 2px 4px rgba(0,0,0,.15);
	background:#2d2d2d;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	outline:none;
	padding:4px;
	font-size:12px;
	font-family:Arial;
	float:left;
	margin-top:10px;
	padding-left:10px;
	padding-right:0;
	color:#fff;}

.form4{
	border:none;
	padding:3px;
	color:#4a3b3b;
	font-weight:bold;}

.view-all{
	float:left;
	width:96%;
	text-align:right;
	padding:15px 0;}

.Subscribe{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	font-weight: bold;
  	padding: 15px 20px;
	background-color: #4b680b;
  	color: #fff;
  	width: 140px;
  	display: block;
  	margin-top: 5px;
  	text-transform: uppercase;
  	float: right;
  	-webkit-border-radius: 25px;
  	-moz-border-radius: 25px;
  	border-radius: 25px;
  	background-color:#c0956c;
  	box-shadow: 4px 4px 5px 0px #68513b inset;
	-webkit-box-shadow: 4px 4px 5px 0px #68513b inset;
	background-image: linear-gradient(#c0956c 0%, #a0754c 100%);}

.Subscribe{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	font-weight: bold;
	padding: 15px 20px;
	background-color: #4b680b;
	color: #fff;
	width: 140px;
	display: block;
	margin-top: -5px;
	margin-right: 20px;
	text-transform: uppercase;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #7b573c;
	background-image: linear-gradient(#ab866b 0%, #7b573c 100%);}

.Subscribe:hover  {
   background-image: linear-gradient(#a79181 0%, #847365 100%);}

.sidebar{
	width: 370px;
	float: left;
	margin-left: 30px;
	margin-top:30px;}

.main-content2 h4 {
	font-family: 'Philosopher';
	font-size: 25px;
	font-weight: normal;
	color: #000;}

.main-content2 {
	padding-top: 20px;
	width: 625px;
	float: left;}

.main-content2 .welcome-note {
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  padding-bottom: 20px;}

.main-content2 .welcome-note p{
  color: #696969;
  font-size: 15px;
  font-family: Arial;
  margin-bottom: 15px;
  margin-top: 15px;}

.main-content2 .welcome-note a{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	font-weight: bold;
	padding: 15px 20px;
	background-color: #4b680b;
	color: #fff;
	width: 140px;
	display: block;
	margin-top: -5px;
	margin-right: 20px;
	text-transform: uppercase;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #7b573c;
	background-image: linear-gradient(#ab866b 0%, #7b573c 100%);}

.main-content2 .welcome-note a:hover {
   background-image: linear-gradient(#a79181 0%, #847365 100%);}

/* Sidebar */
.sidebar h4{
  font-family: 'Philosopher';
  font-size: 18px;
  font-weight: normal; 
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(to bottom, #a88369 0%, #7c573d 100%);}

.dnt-div2 {
  padding: 20px;
  background: #fff;}

.dnt-div2 p{
  font-size: 15px;
  font-family: Arial;
  color: #424242;}

.dnt-form2 {
  color: #4b680b;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;}

.dnt-div2 input[type="text"] {
  width: 305px;
  padding: 10px;
  font-size: 14px;
  color: #888;
}

.dnt-div2 select {
  width: 328px;
  padding: 10px;
  font-size: 14px;
  color: #888;
  height: 42px;
  padding: 10px 5px;}


.dnt-div2 input[type="submit"]{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	font-weight: bold;
	padding: 15px 20px;
	background-color: #4b680b;
	color: #fff;
	width: 140px;
	display: block;
	margin-top: -5px;
	margin-right: 20px;
	text-transform: uppercase;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #7b573c;
	background-image: linear-gradient(#ab866b 0%, #7b573c 100%);}

.dnt-div2 input[type="submit"]:hover{
   background-image: linear-gradient(#a79181 0%, #847365 100%);}

.donate-box2 {
  margin-bottom: 30px;
  border: 1px solid #dfdfdf;
}

.news-widget2 {
  margin-bottom: 30px;}

.news-widget2 h3{
  color: #333;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
  line-height: 21px;}

.news-widget2 a {
  color: #333;}

.news-widget2 img {
  width: 52px;
  height: 52px;
  float: left;
  margin-right: 10px;}

a.view-news2 {
  width: 100%;
  height: 58px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 57px;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  text-transform: uppercase;
  background-color: #7f766f;
}

a.view-news2:hover {
  background: #5c5550;  
}


.sidebar .about-text img {
  float: left;
  margin-right: 20px;
  width: 200px;
}

.sidebar .about-text p{
  color: #333;
}

.sidebar .about-widget {
  margin-bottom: 30px;
}
.sidebar .about-widget ul{
  list-style: none;
  padding: 0;
  margin:0;
}

.sidebar .about-widget li {
  background-color: #d7d7d7;
  border-bottom: 1px solid #e9e9e9;
  padding: 7px 10px;
}

.sidebar .about-widget li:hover {
  background-color: #aeabab;
}

.sidebar .about-widget a{
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  display: block;
}

.sidebar .prayer {
	margin-bottom: 30px;
   border: 1px solid #dfdfdf;
   float:none;margin-left: 0px;
}

h2{
	font-family: 'Philosopher';
	font-size: 20px;
	font-weight: normal;
	color: #000;}

h3{
	font-family: 'Philosopher';
	font-size: 16px;
	font-weight: normal;
	color: #000;}